<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmpireVendas.Properties.Settings.EMPIREVENDASConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EMPIREVENDAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EmpireVendas.Properties.Settings.EMPIREVENDASConCarlos"
            connectionString="Data Source=.\SQLEXPRESS03;Initial Catalog=EMPIREVENDAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>